doctype html
html
  head
  head
    script(src="https://cdn.tailwindcss.com")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Test Upload
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
  body.bg-gray-100
    block content
