extends layout

block content
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")

    h1.text-2xl.font-semibold.mb-4 Photo Map

    #map(class="w-full h-[80vh] rounded shadow")

    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js")
    script.
      const map = L.map('map').setView([20, 0], 2); // world view

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
      }).addTo(map);

      fetch('/api/photos/geo')
        .then(r => r.json())
        .then(items => {
          items.forEach(p => {
            const icon = L.icon({
              iconUrl: p.thumb_base64,
              iconSize: [50, 50],
              className: "rounded shadow border border-white"
            });

            const m = L.marker([p.lat, p.lon], { icon }).addTo(map);

            m.bindPopup(`
            <a href="/photo/${p.id}">
              <img src="${p.thumb_base64}" class="w-40 mb-2 rounded shadow">
              <div>${p.file_name}</div>
            </a>
          `);
          });
        });