extends layout

block content
  .max-w-xl.mx-auto.mt-20.p-10.bg-white.rounded.shadow
    h1.text-2xl.font-bold.mb-4 Upload Test

    form#uploadForm(action="/upload" method="post" enctype="multipart/form-data")
        .field
            label(for="file") File:
            input#fileInput(type="file" name="file" class="hidden")
        .field
            label(for="scanFaces")
            input(type="checkbox" name="scanFaces" id="scanFaces" value="true")
            |  Scan faces

            #dropzone.border-2.border-dashed.border-gray-400.p-20.text-center.text-gray-600.rounded.cursor-pointer
                | Drop image here or click to upload

    script.
      const dz = document.getElementById('dropzone')
      const fi = document.getElementById('fileInput')

      dz.onclick = () => fi.click()
      fi.onchange = () => document.getElementById('uploadForm').submit()

      dz.addEventListener('dragover', e => {
        e.preventDefault()
        dz.classList.add("bg-gray-200")
      })

      dz.addEventListener('dragleave', e => {
        e.preventDefault()
        dz.classList.remove("bg-gray-200")
      })

      dz.addEventListener('drop', e => {
        e.preventDefault()
        fi.files = e.dataTransfer.files
        document.getElementById('uploadForm').submit()
      })
